body {
  padding: 10px 10px;
}

h3 {
  text-transform: uppercase;
}

ol {
  margin: 0;
  padding: 0;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-top: 5px;
  margin-right: 5px;
}

.card p {
  padding: 5px;
  text-emphasis: center;
}

.card img {
  max-height: 170px;
}

@media screen and (max-width:768px) {
  .card {
    width: 100%;
  }
  .card img {
    width: 100%;
    height: auto;
  }
}